@font-face {
  font-family: "Ubuntu";
  src: url("~/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("~/assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
  font-weight: 200 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary-surface-color);
  cursor: default;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  color: var(--supporting-color);
  user-select: none;
  letter-spacing: -0.03em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

:root {
  --font-size-title: 32px;
  --font-size-title-small: 24px;
  --font-size-subtitle: 18px;
  --font-size-text: 16px;
  --font-size-small: 12px;
  --primary-surface-color: #2d2e2e;
  --secondary-surface-color: #3d3e3e;
  --accent-color: #c5f116;
  --supporting-color: #e2e2e2;
  --error-color: #ff4d4d;
}
